# server configuration
server:
  port: 9191

# endpoint configuration
endpoints:
  shutdown:
    enabled: true

# database configuration
spring:
  jpa:
    show-sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: none
      use-new-id-generator-mappings: false

  datasource:
    url: jdbc:mysql:thin://operations-mysql:3306/messagegateway
    username: root
    password: ethieTieCh8ahv
    driver-class-name: org.drizzle.jdbc.DrizzleDriver

# Status Callback configuration for Twilio. Port will be taken from server configuration
hostconfig:
  host: localhost
  protocol: http

callbackconfig:
  address: 0.0.0.0
  protocol: http
  port: 5000

application:
  version: 1.0.0